:root {
  --primary-color: #2147F0;
  --text-primary-color: #0A0A0A;
  --text-secondary-color: #414141;
  --bg-primary-color: #FFF;
  --bg-secondary-color: #11257D;
  --title-color: #141C3A;
  --border-color: #E6EDF6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*

  - Sessão de header

*/

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 9999;
  box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.4);
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
}

.logo a {
  text-decoration: none;
  color: var(--text-primary-color);
  font-weight: 500;
  font-size: 1.5em;
  transition: 0.3s;
}

.logo a:hover {
  opacity: 0.8
}

.menu-container {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5em;
}

.menu-container li a {
  font-size: 1em;
  text-decoration: none;
  color: var(--text-secondary-color);
  transition: 0.3s;
}

.menu-container li a:hover {
  color: var(--primary-color);
}

.menu-container li .mail {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--primary-color);
  background-color: var(--bg-primary-color);
  padding: 0.7em 0.8em;
  border: 2px solid var(--primary-color);
  border-radius: 3em;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s
}

.menu-container li .mail:hover {
  color: var(--bg-primary-color);
  background-color: var(--primary-color);
}

.hamburguer-menu {
  display: none;
  cursor: pointer;
}

.hamburguer-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all ease-in-out 0.3s;
  background-color: black;
}

.section {
  min-height: 82vh;
  padding: 2em 6em;
}


/*

  - Home

*/

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12vh;
}

.home-section h2 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--primary-color);
}

.home-section p {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 0.2em;
  color: var(--text-secondary-color)
}

.home-section img {
  width: 45%;
}

/*

  - Sessão sobre

*/

#about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
}

#about-section h2 {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--bg-primary-color);
}

#about-section p {
  width: 100%;
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.7em;
  color: var(--bg-primary-color);
}

/*

  - Sessão de competências

*/

#skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: -10em;
  background-color: var(--bg-primary-color);
  border: 1px solid var(--border-color);
  border-radius: 1.5em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  width: 33%;
  padding: 2em;
  height: 100%;
}

.card:nth-child(2) {
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: var(--bg-secondary-color);
}

.card-logo ion-icon {
  font-size: 2.5em;
}

.card-header h2 {
  font-size: 1.3em;
  font-weight: 700;
  color: var(--title-color);
  margin-top: 1em;
  letter-spacing: 0.5px;
}

.card-header p {
  margin-top: 1em;
  text-align: center;
}

.card-list h2 {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--primary-color);
  margin-top: 1em;
  letter-spacing: 0.5px;
}

.card-list p {
  margin-top: 1em;
}

.card-items h2 {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--primary-color);
  margin-top: 1em;
  letter-spacing: 0.5px;
}

.card-items ul {
  list-style: none;
  margin-top: 1em;
  text-align: center;
}

/*

  - Sessão de projetos

*/

#projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: var(--bg-secondary-color);
}

#projects-section h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--bg-primary-color);
  margin-top: 1em;
  letter-spacing: 0.5px;
}

.projects-row {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  background-color: var(--bg-primary-color);
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  transition: all 0.3s ease-out;
}

#projects-section .project-header h2 {
  font-size: 1.3em;
  font-weight: 700;
  color: var(--title-color);
  letter-spacing: 0.5px;
}

.project-header p {
  text-align: justify;
  margin-top: -1em;
  word-wrap: break-word;
  color: var(--text-secondary-color);
}

.project-logo ion-icon {
  float: right;
  font-size: 2.5em;
}

.project:hover {
  transform: translateY(-0.5em);
}

#projects-section .learn-more {
  font-size: 0.9em;
  font-weight: 500;
  background-color: var(--bg-primary-color);
  padding: 0.7em 0.8em;
  border: 2px solid var(--title-color);
  border-radius: 3em;
  text-decoration: none;
  color: var(--title-color);
  cursor: pointer;
  transition: 0.3s;
}

#projects-section .learn-more:hover {
  color: var(--bg-primary-color);
  background-color: var(--title-color);
}

.projects-row:nth-child(2) .project:nth-child(1) {
  border-left: 3px solid red;
}

.projects-row:nth-child(2) .project:nth-child(2) {
  border-left: 3px solid purple;
}

.projects-row:nth-child(2) .project:nth-child(3) {
  border-left: 3px solid blue;
}

.projects-row:nth-child(3) .project:nth-child(1) {
  border-left: 3px solid green;
}

.projects-row:nth-child(3) .project:nth-child(2) {
  border-left: 3px solid gray;
}

.projects-row:nth-child(3) .project:nth-child(3) {
  border-left: 3px solid red;
}

#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-secondary-color);
  min-height: 42vh;
}

.footer-header h2 {
  font-size: 1.4em;
  font-weight: 300;
  color: var(--bg-primary-color);
  margin-top: 1em;
}

.footer-links {
  display: flex;
  gap: 2em;
  list-style: none;
}

.footer-links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  color: var(--bg-primary-color);
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.3s ease-in-out;
}

.footer-links .linkedin-logo:hover {
  background-color: var(--bg-primary-color);
  color: #0e76a8;
}

.footer-links .github-logo:hover {
  background-color: var(--bg-primary-color);
  color: #171515;
}

.footer-links .instagram-logo:hover {
  background-color: var(--bg-primary-color);
  color: #bc2a8d;
}

.footer-links .facebook-logo:hover {
  background-color: var(--bg-primary-color);
  color: #3b5998;
}




#footer-container p {
  font-weight: 500;
  color: var(--bg-primary-color);
}

@media (max-width: 810px) {
  .menu-container {
    gap: 2em;
  }

  .home-section {
    margin-top: 0;
  }

  .section {
    padding: 1em 4em;
  }

  .home-section img {
    width: 60%;
  }

  #skills-section {
    padding: 1em 1em;
  }

}

@media (max-width: 768px) {

  .nav-container {
    height: 10vh;
  }

  .hamburguer-menu {
    display: block;
  }

  .hamburguer-menu.active .bar:nth-child(2) {
    opacity: 0
  }

  .hamburguer-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburguer-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-container {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background: var(--bg-primary-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .menu-container li {
    margin: 16px 0;
  }

  .menu-container.active {
    left: 0;
  }

  .section {
    padding: 1em 1.5em;
  }

  .home-section {
    margin-top: 5em;
    text-align: center;
  }

  .home-section img {
    width: 90%;
    margin-top: 1em;
  }

  .card-container {
    margin-top: -5em;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .card:nth-child(2) {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 0px;
    border-left: 0px;
  }

  .projects-row {
    gap: 1em;
    flex-direction: column;
  }

  .project {
    width: 100%;
  }

  .footer-header h2 {
    font-size: 1.2em;
  }
}
