:root {
  --medium-black-color: #151515;
  --dark-black-color: #0D0D0D;
  --ligth-blue-color: #2ed4f2;
  --dark-blue-color: #2abad3;
  --white: #FFF;
}

/*  Estilizações globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

.border-effect::after {
  content: "";
  position: absolute;
  background-color: var(--ligth-blue-color);
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

.section {
  min-height: 100vh;
  padding: 1.5em 8em;
}

.title {
  color: var(--white);
  font-weight: 500;
  font-size: 2.5em;
  letter-spacing: 0.5px;
}

/* Estilização do Menu */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 8em;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background: transparent;
  transition: 0.3s all;
}

.header-container.active {
    transition: all 0.3s;
    background-color: var(--medium-black-color);
    padding: 0.5rem 9rem;
}

.header-container .logo-container a.title {
  font-weight: 300;
  text-decoration: none;
  font-size: 2.4em;
}

.header-container .nav-container .menu-container {
  display: flex;
  list-style: none;
  gap: 2em;
}

.header-container .nav-container .menu-container li a,
.header-container .header-button {
  color: var(--white);
  font-weight: 300;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.header-container .nav-container .menu-container li a:hover {
  color: var(--ligth-blue-color);
}

.hamburguer-menu {
  display: none;
  cursor: pointer;

}

.hamburguer-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all ease-in-out 0.3s;
  background-color: var(--white);
}

.header-container .header-button {
  position: relative;
  font-size: 0.9em;
  font-weight: 300;
  text-transform: capitalize;
  color: var(--ligth-blue-color);
  padding: 0.2em 0.5em;
}

.header-container .header-button.border-effect:hover::after {
    width: 100%;
}

/* Estilização da seção Home */

#home-section {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/img/home-background.jpeg');
  background-position: center;
  background-size: cover;
}

#home-section .text-container {
  width: 70%;
}

#home-section .text-container h1.title {
  font-weight: 600;
  font-size: 3.5em;
}

#home-section .text-container h2.title {
  margin-top: -0.3em;
  line-height: 1.3em;
}

#home-section .text-container span {
  color: var(--ligth-blue-color);
}

#home-section .text-container p {
  color: var(--white);
  font-size: 1em;
  font-weight: 300;
}

/* Estilização da seção Sobre */

#about-section {
  display: flex;
  justify-content: center;
  background-color: var(--medium-black-color);
  min-height: auto;
  padding: 4em 8em;
}

#about-section .about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 0.5em 1.5em;
  background-color: var(--dark-black-color);
}

#about-section .about-container .about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-section .about-container .about-text h2.title {
  color: var(--ligth-blue-color);
  font-weight: 600;
  font-size: 2em;
}

#about-section .about-container .about-text p {
  color: var(--white);
  text-align: justify;
  margin: 1em 0;
  width: 70%;
  font-weight: 300;
}

#about-section .about-container .about-photo {
  width: 50%;
}

/*  Estilização da seção Skills */

#skills-section {
  min-height: auto;
  background-color: var(--medium-black-color);
}

#skills-section .skills-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#skills-section .skills-content h2.title {
  text-align: center;
}

#skills-section .skills-content .skills-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#skills-section .skills-content .skills-container h2.title {
  font-size: 1.5em;
}

#skills-section .skills-content .skills-container .skill-row-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4em;
}

#skills-section .skills-content .skills-container .skill-row-container .skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

#skills-section .skills-content .skills-container .skill-row-container .skill-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: var(--ligth-blue-color);
  border: 2px solid var(--ligth-blue-color);
  cursor: pointer;
  transition: 0.5s all;
}

#skills-section .skills-content .skills-container .skill-row-container .skill-logo:hover {
  color: var(--medium-black-color);
  background-color: var(--ligth-blue-color);
}

#skills-section .skills-content .skills-container .skill-row-container .skill-logo i {
  font-size: 2.5em;
}

#skills-section .skills-content .skills-container .skill-row-container .skill-title {
  font-weight: 600;
  font-size: 0.9em;
}

/*  Estilização da seção Projetos */

#projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 4em 8em;
}

#projects-section a {
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
}

#projects-section a span {
  color: var(--ligth-blue-color);
  cursor: pointer;
  transition: 0.3s all;
}

#projects-section a span:hover {
  color: var(--dark-blue-color);
}

#projects-section .projects-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 2em;
}

#projects-section .projects-container .project-card {
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  width: 35%;
  background-color: var(--dark-black-color);
  cursor: pointer;
  transition: 0.5s all;
}

#projects-section .projects-container .project-card:hover {
  transform: translateY(-0.5em);
}

#projects-section .projects-container .project-card .project-card-body,
#projects-section .projects-container .project-card .project-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-section .projects-container .project-card .project-card-header {
  background-color: var(--ligth-blue-color);
  border-radius: 1em 1em 0 0;
  width: 100%;
  padding: 0.5em 3em;
  gap: 0.5em;
}

#projects-section .projects-container .project-card .project-card-header h2.title {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--dark-black-color);
}

#projects-section .projects-container .project-card .project-card-header i {
  font-size: 2em;
}

#projects-section .projects-container .project-card .project-card-body {
  gap: 2em;
  padding: 1em 3em;
}

#projects-section .projects-container .project-card .project-card-body p {
  color: var(--white);
  font-weight: 300;
  text-align: justify;
}

#projects-section .projects-container .project-card .project-card-body .project-card-button {
  border: none;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 0.7em;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 1em;
  color: var(--dark-black-color);
  transition: 0.3s;
  font-weight: 500;
  background-color: var(--ligth-blue-color);
  transition: 0.3s all;
}

#projects-section .projects-container .project-card .project-card-body .project-card-button:hover {
  background-color: var(--dark-blue-color);
}

/*  Estilização do Footer */

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8em;
  min-height: 10vh;
  background: var(--dark-black-color);
}

#footer-container .footer-made-by a {
  text-decoration: none;
  color: var(--white);
}

#footer-container .footer-made-by a .author {
  color: var(--ligth-blue-color);
}

#footer-container .footer-social-media {
  display: flex;
  gap: 2em;
}

#footer-container .footer-social-media a {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s all;
}

#footer-container .footer-social-media a:hover {
  color: var(--ligth-blue-color);
}

@media(max-width: 1100px) {
  .section {
    padding: 4em 4em;
  }

  .header-container {
    padding: 1.5em 2em;
  }

  .header-container.active {
    padding: 0.5rem 3rem;
  }

  #home-section .text-container {
    width: 100%;
  }

  #about-section .about-container {
    width: 100%;
  }

  #projects-section {
    padding: 4em 1em;
  }

  #projects-section .projects-container {
    flex-direction: column;
    align-items: center;
    gap: 4em;
  }
}

@media(max-width: 900px) {
  .section {
    padding: 2em 2em;
  }

  .header-container {
    background-color: var(--dark-black-color);
  }

  .header-container .nav-container .menu-container {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--dark-black-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .header-container .nav-container .menu-container li {
    margin: 16px 0;
  }

  .header-container .nav-container .menu-container.active {
    left: 0;
  }

  .header-container .nav-container .hamburguer-menu {
    display: block;
  }

  .header-container .nav-container .hamburguer-menu.active .bar:nth-child(2) {
    opacity: 0
  }

  .header-container .nav-container .hamburguer-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header-container .nav-container .hamburguer-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-container .button-container {
    display: none
  }

  #home-section .text-container h1.title {
    font-size: 3em;
  }

  #home-section .text-container h2.title {
    font-size: 2em;
  }

  #skills-section .skills-content .skills-container .skill-row-container {
    gap: 2em;
  }

  #projects-section .projects-container .project-card {
    width: 55%;
  }

  #footer-container {
    flex-direction: column;
    padding: 0 2em 2em;
  }
}

@media(max-width: 650px) {
  #home-section .text-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
  }

  #home-section .text-container h1.title {
    font-size: 2em;
  }

  #home-section .text-container h2.title {
    font-size: 1.5em;
  }

  #home-section .text-container p {
    font-weight: 400;
  }

  #about-section {
    padding: 1em 1em;
  }

  #about-section .about-container {
    padding: 0.5em 0.5em;
  }

  #about-section .about-container .about-text h2.title {
    text-align: center;
  }

  #about-section .about-container .about-text p  {
    width: 100%;
  }

  #projects-section a {
    text-align: center;
  }

  #projects-section .projects-container .project-card {
    width: 95%;
  }
}
